@CHARSET "ISO-8859-1";
body {
	
	
	margin: 0px;
	font-family: Lobster;
	font-size: 14px;
}

header{
	background-color: transparent;
	margin: 10px;
	height: 130px;
	border-radius: 5px;
	width: 130px;
	float: left;
	clear: both;
}

 #navbar{
	background-color: transparent;
	margin: 10px;
	position: relative;
	border-radius: 5px;
	width: 500px;
	float: left;
	margin-left: 530px;
}

header img{
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#navbar ul{
	
	padding: 5px;
	list-style-type: none;
	text-align: center;
	border-radius: 5px; 
	
}

#navbar ul li{
	
	display: inline;
	
}

#navbar ul li a{
	text-decoration: none;
	padding: .2em 1em;
	color: #ffffff;
	margin: 35px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px; 
	
}

#navbar ul li a:hover{

	background-color: #ffffff;
	color: black;
	
	
}

button{
background: none;
border: none;
float: right;
margin-right: 100px;	
margin-bottom: 5px;
color: white;	
font-family: Dancing Script;
font-size: 15.2px;
}

button:hover{
	cursor: pointer;
	background-color: #ffffff;
	color: black;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px; 
	
}
